.slideshowContainer {
  margin: auto;
  overflow: hidden;
  background-color: #0b0a4e;
}

.slideshowInner {
  position: relative;
}

.slide {
  display: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

.slide img {
  min-height: 200px;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 5px 13px;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  border: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  z-index: 100;
  border-radius: 50%;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

.prev:hover,
.next:hover {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #ff0000;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #222428;
}

.numberText {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Displays dots beneath images 
.dotCont {
  text-align: center;
  margin: 10px 0;
  display: none; 
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 8px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
}
.dotInner {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 4px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: absolute;
  top: 5px;
  left: 1px;
}

.active,
.dot:hover {
  background-color: #000;
} */
