.hl {
  margin-bottom: 40px;
}

.hl ul {
  column-count: 2;
}

.hl li {
  margin: 0 15px 5px 3px;
  font-size: 20px;
  padding: 5px;
}

.hl li svg {
  margin-right: 5px;
  color: #100b71;
  width: 28px !important;
  font-size: 24px;
}

.serviceAreas {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 60rem) {
  .hl ul {
    column-count: 3;
  }
}

@media screen and (min-width: 85rem) {
  .hl ul {
    column-count: 4;
  }
}
