.contact {
  display: flex;
}

.contactNav .contactNo {
  display: flex;
}

.contactNav h2 {
  display: none;
}

.contactNav .contactNo a {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid #0b0a4e;
}

.contactNav .contactNo .icon {
  margin-right: 8px;
}

.contactNav .contactNo a:first-child {
  background-color: #0b0a4e;
  color: #fff;
}

.contactNav .mob {
  color: #0b0a4e;
}

.contactNav .contactNo a:nth-of-type(3) {
  display: none;
}

@media screen and (min-width: 60rem) {
  .contactNav {
    display: none;
  }
}

/* Contact form section */
/* .contactForm {
  background-color: #000;
} */

.contactForm .contactNo {
  display: block;
}

.contactForm .contactNo a {
  display: flex;
  color: #0b0a4e;
  align-items: center;
}

.contactForm .contactNo a:hover {
  color: #f00;
}

.contactForm .contactNo span {
  /* width: 50px; */
}

.contactForm .contactNo a .icon {
  color: #0b0a4e;
  border-radius: 50px;
  /* border: 1px solid #0b0a4e; */
  font-size: 25px;
  padding: 15px;
  /* margin-right: 20px; */
}

.contactForm .contactNo a:nth-child(2) .icon {
  padding: 20px;
  /* border: 1px solid red; */
}

.centre {
  text-align: center;
}

@media screen and (min-width: 60rem) {
  .contactForm .contactNo {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
  }

  .contactForm .contactNo a {
    margin-right: 20px;
  }

  .contactForm .contactNo a .icon {
    font-size: 2rem;
  }
}
