.contact {
  display: flex;
}

.contactNav .contactNo {
  display: flex;
}

.contactNav .contactNo a {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid #171496;
}

.contactNav .contactNo .icon {
  margin-right: 8px;
}

.contactNav .contactNo a:first-child {
  background-color: #171496;
  color: #fff;
}

.contactNav .mob {
  color: #171496;
}

.contactNav .contactNo a:nth-of-type(3) {
  display: none;
}

@media screen and (min-width: 60rem) {
  .contactNav {
    display: none;
  }
}

/* Contact form section */
/* .contactForm {
  background-color: #000;
} */

.contactForm .contactNo {
  display: block;
}

.contactForm .contactNo a {
  /* ;
  text-align: center;
  font-weight: bold;
  padding: 5px;
   */
  display: flex;
  color: #171496;
  /* font-size: 15px; */
  margin-bottom: 20px;
  align-items: center;

  /* width: 50px; */
}

.contactForm .contactNo span {
  /* width: 50px; */
}

.contactForm .contactNo a .icon {
  color: #171496;
  border-radius: 50px;
  /* border: 1px solid #171496; */
  font-size: 25px;
  padding: 20px;
  /* margin-right: 20px; */
}

.contactForm .contactNo a:nth-child(2) .icon {
  padding: 20px 25px;
  /* border: 1px solid red; */
}

@media screen and (min-width: 60rem) {
  .contactForm .contactNo {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
  }

  .contactForm .contactNo a {
    font-size: 1.2rem;
  }

  .contactForm .contactNo a .icon {
    font-size: 2rem;
  }
}
