.textCont {
  background-color: #000;
  /* padding: 15px; */
}

.textCont:nth-child(odd) {
  background-color: #171496;
}

.list {
  list-style-type: disc;
  padding: 0 20px;
}

.list li {
  margin: 3px 0;
}

.services img {
  width: 30px;
  height: 30px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  color: #fff;
  /* flex-grow: 1; */
  /* color: #fb0301; */
}

.icons li {
  width: 100%;
  max-width: 100%;
}

.iconText {
  display: inline-block;
  padding: 10px;
}

.iconImg {
  width: 25px;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.brands img {
  width: auto;
  max-width: 100%;
  margin: 10px;
}

.pro a {
  color: #fff;
}

@media screen and (min-width: 35rem) {
  .icons li {
    max-width: 50%;
  }

  .brands img {
    max-width: 33%;
  }
}

@media screen and (min-width: 52rem) {
  .icons li {
    max-width: 33%;
  }

  .brands img {
    max-width: 15%;
  }
}

@media screen and (min-width: 70rem) {
  .icons li {
    max-width: 25%;
  }
}
