.container {
  background-color: #000;
  color: #fff;
}

.inner {
  min-height: 230px;
  max-width: 520px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  font-size: 30px;
}
.content {
  display: none;
}

.customer {
  color: 000;
  font-weight: bold;
}

.review {
  margin-bottom: 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.stars {
  text-align: center;
  margin-bottom: 10px;
}

.icon {
  color: #ffd700;
  display: inline-block;
  margin-right: 5px;
  font-size: 24px;
}

.qLeft {
  margin-right: 10px;
}

.qRight {
  margin-left: 10px;
}
