/* .content {
  padding: 10px;
  border: 1px solid yellow;
} */

/* ORIGINAL BLUE 171496 */

.container {
  padding: 20px;
}

.paintCont {
  display: flex;
  flex-wrap: wrap;
}

.paintCont:nth-child(even) {
  flex-direction: row-reverse;
}

.paintCont > div {
  max-width: 100%;
  width: 100%;
}

/* .intro  */
.textCont {
  background-color: #0b0a4e;
  color: #fff;
  padding: 20px;
}

.textInner {
  padding: 10px;
}

.paintCont:nth-child(even) .textCont {
  background-color: #000;
}

.paintCont img {
  height: 100%;
}

.standOutList li {
  margin-bottom: 5px;
  display: block;
}

.tick {
  color: #0b0a4e;
  margin-right: 10px;
}

.centre {
  text-align: center;
  display: block;
}

@media screen and (min-width: 50rem) {
  .paintCont {
    flex-wrap: nowrap;
  }

  .paintCont > div {
    width: 50%;
  }
}
