/* .content {
  padding: 10px;
  border: 1px solid yellow;
} */

/* ORIGINAL BLUE 171496 */

.container {
  /* padding: 20px; */
}

.paintCont {
  display: flex;
  flex-wrap: wrap;
}

.textBlock {
  margin: 0 auto;
  max-width: 1280px;
  padding: 20px;
  padding-bottom: 0;
}

.paintCont:nth-child(even) {
  flex-direction: row-reverse;
}

.paintCont > div {
  max-width: 100%;
  width: 100%;
}

/* .intro  */

.intro {
  text-align: center;
  display: block;
  margin-bottom: 30px;
}

.textCont {
  background-color: #0b0a4e;
  color: #fff;
  padding: 20px;
}

.textInner {
  padding: 10px;
}

.paintCont:nth-child(even) .textCont {
  background-color: #000;
}

.paintCont img {
  height: 100%;
  object-fit: cover;
}

/* .tick {
  color: #0b0a4e;
  margin-right: 10px;
} */

@media screen and (min-width: 50rem) {
  .paintCont {
    flex-wrap: nowrap;
  }

  .paintCont > div {
    width: 50%;
  }

  .textCont {
    padding: 40px;
  }

  h3 {
    font-size: 30px;
  }
}
