.content {
  margin: 0 auto;
}

.paintCont {
  display: flex;
  flex-wrap: wrap;
}

.paintCont:nth-child(even) {
  flex-direction: row-reverse;
}

.paintCont > div {
  max-width: 100%;
  width: 100%;
}

.textCont,
.intro {
  background-color: #020246;
  padding: 15px;
}

.paintCont:nth-child(even) .textCont {
  background-color: #000;
}

.paintCont .textInner {
  /* padding: 15px; */
}

.paintCont img {
  height: 100%;
}

@media screen and (min-width: 50rem) {
  .paintCont {
    flex-wrap: nowrap;
  }

  .paintCont > div {
    width: 50%;
  }
}
