form {
  /* display: flex;
  flex-direction: column; */
  margin-bottom: 70px;
  width: 100%;
}

.row {
  width: 100%;
}

.contact,
input,
textarea {
  font-size: 1.3rem;
}

.contact {
  display: flex;
  flex-direction: column;
}

.formInput {
  width: 100%;
  padding: 15px;
  /* font-size: 18px; */
  margin-bottom: 20px;
  border-radius: 5px;
  /* border: 1px solid red; */
}

.submit {
  background-color: #0b0a4e;
  color: #fff;
  padding: 15px;
  border-radius: 20px;
  font-size: 18px;
  width: 100%;
}

.submit:hover {
  background-color: #f00;
}

.contactForm {
  /* display: flex; */
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
}

.contactForm input,
.contactForm textarea {
  /* border: 1px solid red; */
  padding: 15px;
  display: block;
  margin: 0 20px 20px 0;
  background-color: #f2f6f8;
  border-radius: 2rem;
  border: 1px solid #0b0a4e;
  box-shadow: 0px 7px 5px #0b0a4e;
  width: 100%;
}

.msg {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.success {
  color: #057505;
}

.fail {
  color: #f00;
}

/* .contactForm:focus {
  border: 1px solid red;
} */

/* .contactForm label {
  margin-bottom: 5px;
  display: block;
} */

.contactForm label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.contactForm textarea {
  min-height: 140px;
}

.centre {
  text-align: center;
}

@media screen and (min-width: 40rem) {
  /* .tb {
    margin-right: 300px;
    border: 1px solid red;
  } */

  form {
    column-count: 2;
  }
}

@media screen and (min-width: 60rem) {
  .contact {
    flex-direction: row;
  }
  .contactForm {
    /* margin-right: 50px; */
  }
  .tb {
    margin-right: 30px;
  }
  /* form {
    width: 50%;
  } */
  /* .formInput {
    border: 1px solid#ff0000;
  } */
}
