.container {
  padding: 20px;
}

.intro {
  text-align: center;
  display: block;
  margin-bottom: 30px;
}

.contactUs {
  max-width: 900px;
  padding: 40px;
  margin: 0 auto;
}

.contactCont {
  margin-top: 50px;
}

.header {
}

.text {
  margin-bottom: 20px;
}

@media screen and (max-width: 25rem) {
  .contactUs {
    padding: 0px;
  }
}
