/* .headerMiddle {
  padding: 20px 0;
  display: flex;
  max-width: 1012px;
  margin: 0 auto 90px;
  overflow: hidden;
}

.heading {
  font-weight: normal;
  color: #286c93;
}

.heading span {
  font-weight: bold;
  color: #000;
}

.header .center {
  width: 980px;
  margin: auto;
} */

.container {
  /* MAY BE IMPORTANT PADDING BELOW */
  /* padding: 20px; */
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fff;
  color: #333;
  /* border: 1px solid red; */
}

/* @media screen and (min-width: 576px) {
  h1 {
    font-size: 54px;
  }
  h3 {
    font-size: 32px;
  }
  .logo img {
    width: 70px;
  }
} */
