.main {
  /* max-width: 1112px; */

  /* background-color: #171496; */
  background-color: lightgray;
}

.innerCont {
  /* max-width: 1112px; */
  /* max-width: 912px;
  margin: 0 auto 90px;
  overflow: hidden; */
  /* background-color: #f6f6f6; */
}

.header {
  /* position: relative;
  z-index: 1020;
  margin: 0 0 60px; */
  /* border: 1px solid #f3f3f3; */
}

.headerUpper {
  /* height: 42px;
  background-color: #f6f6f6; */
}

.headerMiddle {
  /* background-color:#ff0000; */
  padding: 20px 0;
  display: flex;
  max-width: 1012px;
  margin: 0 auto 90px;
  overflow: hidden;
}

.heading {
  font-weight: normal;
  color: #286c93;
}

.heading span {
  font-weight: bold;
  color: #000;
}

.header .center {
  width: 980px;
  margin: auto;
}

.content {
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #171496;
  color: #fff;
  border: 1px solid red;
}

/* @media screen and (min-width: 576px) {
  h1 {
    font-size: 54px;
  }
  h3 {
    font-size: 32px;
  }
  .logo img {
    width: 70px;
  }
} */
