.container {
  /* padding: 10px; */
  background-color: #000;
  /* background-color: red; */
}

nav {
  display: flex;
}

.test {
  padding: 20px;
}

.top {
  font-size: 25px;
  color: #fff;
  margin-right: 10px;

  /* border-radius: 30 px;
  padding: 3 px 6 px;
  border: 2 px solid white; */
}
