.container {
  padding: 10px;
  background-color: #0b0a4e;
  border-top: 2px solid #f00;

  color: #777;
  font-size: 14px;
  text-align: center;
}

nav {
  display: flex;
}

.test {
  padding: 20px;
}

.top {
  font-size: 25px;
  color: #fff;
  margin-right: 10px;
}

a {
  color: #777;
}

.small {
  display: block;
}
