.services {
  margin-bottom: 55px;
  max-width: 900px;
  margin: 0 auto;
}

.services .image {
  text-align: center;
}

.services img {
  max-width: 600px;
}

@media screen and (min-width: 70rem) {
  .services img {
    min-width: 426px;
    margin-left: 25px;
  }
}
