/* .container {
  padding: 20px;
  background-color: #0b0a4e;
}

.test {
  padding: 20px;
} */

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  max-width: 1280px;
  margin: 0 auto;
}

.footer .listItem a {
  color: #fff;
}

.footer .listItem a:hover {
  color: #f00;
}

.footer a {
  font-size: 14px;
}

.active {
  font-weight: bold;
}

@media screen and (max-width: 35rem) {
  .footer {
    display: inline-block;
    text-align: center;
  }

  .footer .listItem {
    margin-bottom: 10px;
  }
}
