@import-normalize; /*  TODO */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  color: rgb(58, 58, 58);
}

/* @font-face {
  font-family: "DancingScript";
  src: local("DancingScript"),
    url(./fonts/DancingScript-VariableFont_wght.ttf) format("truetype");
}

h1 {
  font-family: "DancingScript";
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

input,
textarea,
button {
  box-sizing: border-box;
  border: 0;
  font: Arial;
}

button {
  cursor: pointer;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
